.search-box {
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 42px;
  display: flex;

  .search-bar {
    width: 85%;
    padding: 0 5px;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid #ccc;
  }
  
  .search-btn {
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-left: none;
  
    img {
      height: 80%;
    }
  }
}
