.toggle-btn {
    display: flex;
    margin-left: 1.5vw;
    align-items: center;
  
    .burger {
      width: 20px;
      height: 10px;
      position: relative;
      cursor: pointer;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        background: #979797;
      }

      span:nth-child(1){
        top: 0;
      }
      
      span:nth-child(3){
        top: 100%;
      }
    }

  .logo {
    img {
      height: 30px;
      margin: 0 25px;
    }
  }
}