.user-options {
  height: 35px;
  display: flex;
  align-items: center;

  .icon {
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
  }
}

.user-dp {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}