.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  transform: translateZ(0);
}
.visible {
  opacity: 1;
}
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 225px;
  width: 225px;
  height: 100vh;
  background: #fff;
  padding-right: 10px;
  transition-property: transform;
  transform: translate3d(-100%, 0, 0);
  transition-duration: 200ms;

  .toggle-btn {
    height: 60px;
  }

  .links {
    display: block;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    img {
      height: 25px;
      margin-right: 20px;
    }

    &:hover,
    &.active {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .seperator {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }
}

.opened {
  transform: translate3d(0, 0, 0);
}